body{
    background-color: #fff;
}

.logo{
    width: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    text-align: justify;
    padding-inline: 25px;
}

.bg-img{
    background-image: url("https://cdn.pixabay.com/photo/2015/08/04/09/00/backdrop-874452_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100%;
    background-color: rgba(29, 31, 32, 0.568)
}